<?xml version="1.0" encoding="UTF-8"?>
<Server port="8205" shutdown="SHUTDOWN">
    <!--APR library loader. Documentation at /docs/apr.html -->
    <Listener SSLEngine="on" className="org.apache.catalina.core.AprLifecycleListener" />
    <!--Initialize Jasper prior to webapps are loaded. Documentation at /docs/jasper-howto.html -->
    <Listener className="org.apache.catalina.core.JasperListener" />
    <!-- Prevent memory leaks due to use of particular java/javax APIs-->
    <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
    <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
    <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

    <!-- Global JNDI resources
         Documentation at /docs/jndi-resources-howto.html
    -->
    <GlobalNamingResources>
        <!-- Editable user database that can also be used by
             UserDatabaseRealm to authenticate users
        -->
        <Resource auth="Container" description="User database that can be updated and saved"
                  factory="org.apache.catalina.users.MemoryUserDatabaseFactory" name="UserDatabase"
                  pathname="conf/tomcat-users.xml" type="org.apache.catalina.UserDatabase" />
    </GlobalNamingResources>

    <!-- A "Service" is a collection of one or more "Connectors" that share
         a single "Container" Note:  A "Service" is not itself a "Container",
         so you may not define subcomponents such as "Valves" at this level.
         Documentation at /docs/config/service.html
     -->
    <Service name="Catalina">

        <Executor name="httpThreadPool" namePrefix="catalina-http-"
                  maxThreads="150" minSpareThreads="4" />

        <Executor name="ajpThreadPool" namePrefix="catalina-ajpc-"
                  maxThreads="150" minSpareThreads="4" />

        <Connector executor="httpThreadPool" port="8280" protocol="HTTP/1.1" connectionTimeout="20000" />
        <Connector executor="ajpThreadPool" port="8209" protocol="AJP/1.3" connectionTimeout="20000" />

        <!-- You should set jvmRoute to support load-balancing via AJP ie :
        <Engine name="Catalina" defaultHost="localhost" jvmRoute="jvm1">
        -->
        <Engine defaultHost="localhost" name="Catalina">

            <!--For clustering, please take a look at documentation at:
                /docs/cluster-howto.html  (simple how to)
                /docs/config/cluster.html (reference documentation) -->
            <Cluster className="org.apache.catalina.ha.tcp.SimpleTcpCluster"
                     channelSendOptions="8">

                <Manager className="org.apache.catalina.ha.session.DeltaManager"
                         expireSessionsOnShutdown="false"
                         notifyListenersOnReplication="true" />

                <Channel className="org.apache.catalina.tribes.group.GroupChannel">
                    <Interceptor className="org.apache.catalina.tribes.group.interceptors.StaticMembershipInterceptor">
                        <Member className="org.apache.catalina.tribes.membership.StaticMember"
                                                       port="4000"
                                                       host="localhost"
                                                       uniqueId="{10,154,0,166}"
                                                       />
                    </Interceptor>
                    <Receiver className="org.apache.catalina.tribes.transport.nio.NioReceiver"
                              address="localhost"
                              port="4001"
                              autoBind="100"
                              selectorTimeout="5000"
                              maxThreads="6" />

                    <Sender className="org.apache.catalina.tribes.transport.ReplicationTransmitter">
                        <Transport className="org.apache.catalina.tribes.transport.nio.PooledParallelSender" />
                    </Sender>
                    <Interceptor className="org.apache.catalina.tribes.group.interceptors.TcpFailureDetector" />
                    <Interceptor
                            className="org.apache.catalina.tribes.group.interceptors.MessageDispatch15Interceptor" />
                </Channel>

                <Valve className="org.apache.catalina.ha.session.JvmRouteBinderValve" />
                <Valve className="org.apache.catalina.ha.tcp.ReplicationValve" filter=""/>

                <ClusterListener className="org.apache.catalina.ha.session.JvmRouteSessionIDBinderListener" />
                <ClusterListener className="org.apache.catalina.ha.session.ClusterSessionListener" />
            </Cluster>

            <!-- Use the LockOutRealm to prevent attempts to guess user passwords
                 via a brute-force attack -->
            <Realm className="org.apache.catalina.realm.LockOutRealm">
                <Realm className="org.apache.catalina.realm.UserDatabaseRealm" resourceName="UserDatabase" />
            </Realm>

            <Host appBase="webapps" autoDeploy="true" name="localhost" unpackWARs="true">


                <!-- Access log processes all example.
                     Documentation at: /docs/config/valve.html
                     Note: The pattern used is equivalent to using pattern="common" -->
                <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
                       pattern="%h %l %u %t &quot;%r&quot; %s %b" prefix="localhost_access_log." suffix=".txt" />

            </Host>
        </Engine>
    </Service>
</Server>